/* Coolors Exported Palette - https://coolors.co/6da34d-56445d-548687-8fbc94-c5e99b */
/* SCSS HEX */
$bud-green: #6da34dff;
$english-violet: #56445dff;
$steel-teal: #548687ff;
$dark-sea-green: #8fbc94ff;
$yellow-green-crayola: #c5e99bff;

/* SCSS HSL */
$bud-green: hsla(98, 36%, 47%, 1);
$english-violet: hsla(283, 16%, 32%, 1);
$steel-teal: hsla(181, 23%, 43%, 1);
$dark-sea-green: hsla(127, 25%, 65%, 1);
$yellow-green-crayola: hsla(88, 64%, 76%, 1);

/* SCSS RGB */
$bud-green: rgba(109, 163, 77, 1);
$english-violet: rgba(86, 68, 93, 1);
$steel-teal: rgba(84, 134, 135, 1);
$dark-sea-green: rgba(143, 188, 148, 1);
$yellow-green-crayola: rgba(197, 233, 155, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-right: linear-gradient(90deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-bottom: linear-gradient(180deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-left: linear-gradient(270deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-top-right: linear-gradient(45deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-bottom-right: linear-gradient(135deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-top-left: linear-gradient(225deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-bottom-left: linear-gradient(315deg, #6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);
$gradient-radial: radial-gradient(#6da34dff, #56445dff, #548687ff, #8fbc94ff, #c5e99bff);